# Python
.venv/
__pycache__/
*.pyc

# Java / Maven
target/
*.class

# IDE
**/.idea/
**/.vscode/

# logs
backend-core/logs/**/*.log
yolo-service/logs/**/*.log
backend-core/logs/**/*.log.*
yolo-service/logs/**/*.log.*

# yolo weights
yolo-service/weights/**/*.pt